.current-loanFields-item {
  display: flex;
  /* justify-content: space-between; */
  padding: 0.9rem;
  padding-left: 2px;
  padding-right: 10px;
  /* background-color: #34d30c; */
  width: 1075px;
  border: 0.1px solid rgb(0, 158, 190);

  height: 26px;
}
.icon-type {
  min-width: 30px; /*giving them the same size*/
  color: #000000;
  font-size: 1.2rem;
  margin-left: 5px;
  margin-right: 51px;
}
.details-page {
  min-width: 190px; /*giving them the same size*/
  margin-right: 15px;
  margin-left: 2px;
  margin-bottom: 30px;

  text-transform: lowercase;
  /* border: 2px solid red; */
}

.details-page-amtDeet {
  min-width: 100px;
  margin-right: 65px;
  margin-bottom: 30px;
  /* border: 2px solid rgb(96, 18, 18); */
  padding-left: 20px;
}


.currentLoan-status-pending{
background-color: #A0956C;
 min-width: 190px;
border: none;
  margin-right: 15px;
  color: #ffffff;
  border-radius: 5px;
}

.currentLoan-status-progress{
background-color: #2178B0;
 min-width: 190px;
border: none;
  margin-right: 15px;
    color: #ffffff;
     border-radius: 5px;
}

.currentLoan-status-done{
background-color: #481468;
  margin-right: 15px;
 min-width: 190px;
border: none;
color: red;
  color: #ffffff;
   border-radius: 5px;
 
}