.acceptedDetails-container {
  display: flex;
}

.acceptedDetails-remaining-content {
  /* Use 90% of the remaining width */
  flex: 1;
  /* background-color: red; */
  padding-left: 130px;
  padding-right: 100px;
  /* background-color: white; */
}

.loanDetails-container {
  min-width: 700px;
  min-height: 73.5vh;
  border: none;
  border-top: 11px solid #005f44;
  color: #005f44;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: left; /*Center vertically */
  padding-top: 13.08px;
  padding-bottom: 33.08px;
  padding-left: 25px;
  position: relative; /* for the button to be styled well*/
}

.payment-schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem;
  padding-top: 20px;
  padding-right: 90px;
  margin: 1rem 0;
  margin-left: 28px;
  margin-right: 50px;
  color: rgb(43, 42, 42);
  background-color: #99c3b7;
  text-transform: uppercase;
  max-height: 480px;
  max-width: 963px;
}

.loan-schedule-header {
  display: flex;
  min-width: 700px;
  /* align-items: center; */
  justify-content: space-evenly;
  text-transform: capitalize;
  padding-left: 100px;
  margin-top: 10px;
  font-size: medium;
}
.paymentschedule-back {
  width: 218px;
  height: 42px;
  flex-shrink: 0;
  background: #a1a1a1;
  border: none;
  color: white;
  font-size: 15px;
  font-style: normal;
  margin-left: 53px;
  /* margin-bottom: 20px; */
  cursor: pointer;
  position: absolute; /* in relation to the container*/
  bottom: 0;
  left: 0;
}

.loan-schedule-tables-container {
  display: flex;
  /* justify-content: space-evenly; */
  min-width: 900px;
  padding-left: 20px;
  /* background-color: red; */
}
.small-tables-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* space between makes the size match the bigger one*/
  font-size: smaller;
  /* background-color: aqua; */
  margin-right: 20px;
  /* background-color: red; */
}

.big-table {
  min-width: 747px;
  min-height: 380px;
  /* background-color: bisque; */
}

.header-icon2 {
  margin-right: 10.22px;
  font-size: 40px;
  margin-left: 46px;
}

@media (max-width: 747px) {
.acceptedDetails-remaining-content {
  padding-left: 10px;
  padding-right: 0px;
}

.loanDetails-container {
  max-width:fit-content;
  min-height: 73.5vh;
  position: relative; /* for the button to be styled well*/
  min-width: fit-content;
}
.payment-schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0rem;
  padding-top: 0px;
  padding-right: 0px;
  margin: 1rem 0;
  margin-left: 0px;
  margin-right: 0px;
  color: rgb(43, 42, 42);
  /* background-color: rgb(7, 255, 48); */
  text-transform: uppercase;
  max-height: 480px;
  max-width: fit-content;
}

.loan-schedule-header {
  display: flex;
  min-width: min-content;
  /* align-items: center; */
  justify-content: space-between;
  text-transform: capitalize;
  padding-left: 0px;
  margin-top: 10px;
  font-size: medium;
  /* background-color: rgb(206, 201, 248); */
}
.loan-schedule-tables-container {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column-reverse;
  min-width: fit-content;
  padding-left: 0px;
  /* background-color: red; */
}
.small-tables-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* space between makes the size match the bigger one*/
  font-size: smaller;
  /* background-color: aqua; */
  margin-right: 20px;
  /* background-color: red; */
   display: none; 
}

.big-table {
  min-width: auto;
  min-height: auto;

}

.header-icon2 {
  margin-right: 12px;
  font-size: 30px;
  margin-left: 4px;
}

}

  @media (min-width: 748px) and (max-width: 1279px){
.acceptedDetails-remaining-content {
  padding-left: 10px;
  padding-right: 0px;
}

.loanDetails-container {
  max-width:fit-content;
  min-height:  fit-content;
  position: relative; /* for the button to be styled well*/
  min-width: fit-content;
}
.payment-schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0rem;
  padding-top: 0px;
  padding-right: 0px;
  margin: 1rem 0;
  margin-left: 0px;
  margin-right: 0px;
  color: rgb(43, 42, 42);
  /* background-color: rgb(7, 255, 48); */
  text-transform: uppercase;
  max-height: 480px;
  max-width: fit-content;
}

.loan-schedule-header {
  display: flex;
  min-width: min-content;
  /* align-items: center; */
  justify-content: space-between;
  text-transform: capitalize;
  padding-left: 30px;
  margin-top: 10px;
  font-size: medium;
  /* background-color: rgb(206, 201, 248); */
}
.loan-schedule-tables-container {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  min-width: fit-content;
  padding: 10px;
  /* background-color: red; */
}
.small-tables-container {
   display: none; 
}

.big-table {
  min-width: auto;
  min-height: auto;
}

.header-icon2 {
  margin-right: 12px;
  font-size: 30px;
  margin-left: 4px;
}
  }