.newLoan-container {
  display: flex;
  /* background-color: #EEEEEE; */
}

.newLoan-remaining-content {
  /* Use 90% of the remaining width */
  padding-left: 130px;
  padding-right: 100px;
  flex: 1;
  /* background-color: white; */
  /* Add any additional styling you need for the remaining content */
}
