.custom-table {
  border-collapse: collapse;
 width: 100%; /*max content made it smaller*/
 min-width: 250px;
  border: 1px solid rgb(66, 65, 65);
  text-transform: lowercase;
  border-radius: 50px;
}

.custom-table th, .custom-table td {
  border: 1px solid #99C3B7;;
  padding: 8px;
  text-align: left;
  padding-left: 10px;
  min-width: 0px;
  text-transform: capitalize;
  padding-right: 0;
}


.custom-table thead {
  background-color: #dfdddd;
}

.custom-table tbody {
  background-color: white;
}