.small-support-container {
  width: 1040px;
  height: 170px;
  border: none;
  margin-left: -100px;
  color: #005f44;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center; /*Center vertically */
  justify-content: center;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 30px;
}

.small-service-img {
  width: 210.88px;
  height: 137px;
  flex-shrink: 0;
  object-fit: cover; /* Ensure the image covers the container */
  object-position: center; /* Center the image within the container */
  /* width: 100%;
  height: 100%; */
  background-color: rgb(112, 66, 66);
  margin-right: 20px;
}

/* .small-support-container-text {
  display: flex;
  flex-direction: column;
  align-items: left;

} */
.small-support-container-text h5 {
  color: #005f44;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: -4px;
}
.small-support-container-text p {
  width: 434px;
  font-weight: 200px;
  font-size: 18px;
  color: rgb(94, 91, 91);
}

.small-support-container-button {
  border: 0.901px solid #005f44;
  background: #fff;
  width: 246px;
  height: 33px;
  margin-left: 100px;
  cursor: pointer;
}

.small-support-container-button:hover {
  border: 0.901px solid white;
  background: #45a049;
  color: white;
}


/* Adjustments for smaller screens */
@media (max-width: 1280px) { 
  .homeCard-layout {
    flex-direction: column;
  }

  .small-support-container {
    max-width: 39%; 
    padding: 10px; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
    height: max-content;
    margin-left: -170px;
  }

  .small-service-img {
    width: 60%; 
    height: auto; 
    margin-right: 0;
  }

  .small-support-container-text h5 {
    font-size: 18px; 
    margin-bottom: 0; 
  }

  .small-support-container-text p {
    width: 100%; 
    font-size: 16px; 
    text-align: left;
    margin-left: 14px;
  }

  .small-support-container-button {
    width: 60%;
    margin: 10px 0;
  }
}
