.applyLoan-container {
  width: 966px;
  height: 100%;
  border: none;
  border-top: 11px solid #005f44;
  /* border: 1px solid black; */
  color: #005f44;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background-color: white;
  /* justify-content: center; */
  align-items: center;
}

.sev-mainContent {
  display: flex;
  flex-direction: row;
  margin-top: 49px;
  /* justify-content: space-evenly; */
}
.coinsIcon {
  margin-left: 20px;

  color: #005f44;
  width: 46.596px;
  height: 101px;
}
.inputFieldLoan {
  margin-right: 80px;
  margin-top: 12px;
  width: 350px;
}

#loanAmount {
  font-size: 25px;
}
.applyLoan-header {
  width: 1498px;
  height: 21px;
  /* border: 1px solid #005F44; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 51px;
}

.decide-container button {
  width: 150px;
  height: 150px;
  border: 1px solid #005f44;
  opacity: 0.7;
  background: #fff;
  color: #525252;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: flex-end;
  justify-content: center;
}
.decide-container .empty {
  opacity: 0;
  cursor: auto;
}

.decide-container {
  color: #525252;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 483px;
  height: 600px;

  /* justify-content: space-evenly; */
}

.enterAmount-container {
  color: #525252;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 483px;
  height: 600px;
  border: none;
  border-left: 1px solid #b8b3b3;
}

.loanAmount {
  display: flex;
  flex-direction: column;
  margin-top: 192px;
  margin-left: 102px;
}

.loanAmount input {
  width: 277px;
  height: 57px;
  flex-shrink: 0;
}

.loanAmount label {
  width: 150px;
  color: #525252;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sev-loanHeader {
  margin-left: 31px;
}

.newloan-buttons {
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: 45px; */
  /* border: 1px solid black; */
  width: 866px;
  margin-left: 60px;
}

.backBtn {
  width: 218px;
  height: 42px;
  flex-shrink: 0;
  background: #a1a1a1;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  /* font-weight: 700; */
  line-height: normal;
  /* margin-left: 48px; */
  cursor: pointer;
  border: none;
  margin-right: 10px;
  /* margin-top: 20px;s */
}

.nextBtn {
  width: 218px;
  background: #5e900f;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  /* font-weight: 700; */
  line-height: normal;
  /* margin-left: 447px; */
  cursor: pointer;
  border: none;
  /* margin-top: 20px; */
}
.overDraft:hover,
.creditCard:hover,
.loan:hover,
.carFinance:hover,
.mortgage:hover,
.overDraft.selectedButton,
.creditCard.selectedButton,
.loan.selectedButton,
.mortgage.selectedButton,
.carFinance.selectedButton {
  border: 4px solid #005f44;
  color: #525252;
  font-weight: 900;
  opacity: 1;
}

@media (min-width: 748px) and (max-width: 1279px) {
  .applyLoan-container {
    max-width: 500px;
    margin-left: -50px;
  }

  .sev-mainContent {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    max-width: min-content;
    /* background-color: red; */
  }

  .sev-loanHeader {
    margin-left: 31px;
    font-size: large;
  }

  .newloan-buttons {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin-left: 27px;
  }

  .decide-container {
    height: auto;
  }

  .enterAmount-container {
    width: auto;
    height: auto;
    /* background-color: red; */
  }

  .loanAmount input {
    width: auto;
    height: 57px;
    flex-shrink: 0;
  }

  .loanAmount {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 60px;
    margin-bottom: 10px;
    /* background-color: #5e900f; */
  }

  .loanAmountLabel {
    display: none;
  }
}

/*only for phones*/
@media (max-width: 747px) {
  .applyLoan-container {
    /* min-width: min-content; */
    max-width: 350px;
    margin-left: -110px;
  }

  .sev-mainContent {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    /* background-color: red; */
  }
  .sev-loanHeader {
    margin-left: 31px;
    font-size: small;
  }

  .newloan-buttons {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin-left: 27px;
  }

  .decide-container button {
    width: 120px;
    height: 120px;
    font-size: 13px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .decide-container {
    color: #525252;
    text-align: center;
    width: 350px;
    height: auto;
  }

  .enterAmount-container {
    width: auto;
    height: auto;
  }
  .loanAmount input {
    width: auto;
    height: 57px;
    flex-shrink: 0;
  }

  .loanAmount {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .newloan-buttons {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-right: 13px;
    margin-left: 44px;
  }

  .backBtn {
    width: auto;
    padding: 0 30px;
  }

  .nextBtn {
    width: auto;
    padding: 0 30px;
  }

  .loanAmountLabel {
    display: none;
  }
}
