.vertical-bar {
  display: flex;
  flex-direction: column;
  background-color: #2d8259;
  padding: 10px;
  visibility: block;
  position: relative;
  /* height: 67.5vh; */
  max-width: 300px;
  margin-left: 10px;
  /* max-height: 79.5vh; */
}

.vert-button {
  margin-bottom: 10px;
  padding: 10px 20px;
  /* padding-left: 39px; */
  text-transform: uppercase;

  font-weight: bolder;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 5px;
  background-color: #2d8259;
  color: #ffffff;
  cursor: pointer;
  margin-right: 50px;
  width: 300px;
  display: flex;
  justify-content: space-between; /* Aligns content at both ends ,esp for iconn to lie on the right */
  align-items: center; /* Aligns items vertically */
  text-align: center;
}

.vert-button:hover {
  background-color: #45a049;
}
.vert-button.active {
  color: #3fd113; /* White text color */
  position: relative;
  height: 70px;
  border-bottom: 1px solid #000000;
  padding-left: 50px;
  padding-top: 0;
}

.vert-button.active::after {
  content: "";
  position: absolute;
  left: 35%;
  bottom: 0;
  width: 20%;
  height: 2px;
  border: 2px solid #3fd113;
  background-color: #3fd113;
  margin-bottom: 10px;
}

.logout-button:hover {
  border-color: #ffffff;
}
